<head>
    <title>Hello</title>
    
<script type="text/javascript">
    console.log("I'm running the thing");
    var source = new EventSource('/stream');
    var first = true;
                                                                      
    source.onopen = function (event) {
        console.log("The connection is open");
        console.log(source.readyState);
        first = true;
    };
                                                                      
    source.onerror = function (event) {
        console.log("ERROR in EventSource!");
    };
                                                                      
    source.addEventListener('message', function (event) {
        console.log("I got a message");

        var msg = event.data
        msg = msg.replace(/;/g, "<br>");
        document.getElementById("status-txt").innerHTML = msg;

        /*
        var msg_arr = event.data.split(";");

        for (var i = 0; i < msg_arr.length; i++) {
            curr_msg = msg_arr[i];
            curr_msg_id = curr_msg.split(":")[0];

            if (first) {
                var p = document.createElement("P");
                var t = document.createTextNode(curr_msg);
                p.appendChild(t);
                p.setAttribute("id", curr_msg_id); 
                document.getElementById("status").appendChild(p);
            } else {
                if (document.getElementById(curr_msg_id) != null) {
                    document.getElementById(curr_msg_id).innerHTML = curr_msg;
                } else {
                    console.log("bad");
                }
            }
        }
        first = false;
        */

    });
                                                                      
    //source.onmesssage = function (event) {
    //    console.log("EAT ME");
    //};
</script>
    
    
</head>
<body>

    <h1> Serial Monitor! </h1>
    <p id="status-txt" style="class:pre;"> {{ status }}</p>
    <div id="status">
    </div>

</body> 
    
