<head>
    <title>Serial Monitor</title>
<style type="text/css">
.scroll-box {
    white-space: pre;
    height: 400px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.highlight {
    background: red;
}


</style>

<!-- literally just for some highlighting -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

    console.log("I'm running the thing");
    var first = true;
    let EXTRA_START = "~"; // this is a (ascii) character that signals the beginning of a message that holds extra info we don't put at the top of the screen
    var capture_other = false;
    var node_count = 0;

    var msg_buf = ""
    var msg_buf_count = 0;

    // cache the divs where text goes
    var stat_elem = document.getElementById("status-txt");
    var extra_div = document.getElementById("extra-txt");
    var capture_button = document.getElementById("capture-button");

    // button hanlder
    capture_button.onclick = function button_handler() {
        if (capture_other) {
            capture_button.childNodes[0].nodeValue = "Capture Other"
            capture_other = false;
        } else {
            capture_button.childNodes[0].nodeValue = "Stop Capture"
            capture_other = true;
        }
        
    };
    

    // set up the server side events
    var source = new EventSource('/stream');                                                           
    source.onopen = function (event) {
        console.log("The connection is open");
        console.log(source.readyState);
        first = true;
    };

    // what we do when there's an error
    source.onerror = function (event) {
        console.log("ERROR in EventSource!");
    };
    
    // what we do when we get a message
    source.addEventListener('message', function addSSEListner(event) {

        var msg = event.data

        // Check if this message is from the extra logging information (misc print statements throughout the code)
        if (msg.charAt(0) == EXTRA_START) { 

            

            // handle the scrolling: only auto-scroll if you're toward the bottom of the screen
            if (capture_other) {

                // remove the start character from the beginning of the string
                msg_buf = msg.substring(1, msg.length) + "\n" + msg_buf;
                msg_buf_count++;

                if (msg_buf_count > 30) {
                    msg_node = document.createTextNode(msg_buf);
                    //extra_div.appendChild(msg_node);
                    extra_div.prepend(msg_node);
                    // if (extra_div.scrollTop >= extra_div.scrollHeight - extra_div.clientHeight - 400) {
                    //     extra_div.scrollTop = extra_div.scrollHeight;
                    // }
                    node_count++;
                    if (node_count > 500) {
                        extra_div.normalize();
                        node_count = 1;
                    }
                    msg_buf_count = 0;
                    msg_buf = "";
                }
                
            }

        // This message is from the SHITL Logging: Put it in the top part of the screen   
        } else {
            
            //stat_elem = document.getElementById("status-txt")

            // values are semi-colon separated
            msg_arr = msg.split(";");

            // on the first pass, create a new div (with a unique id) for each variable we care about
            // (means you CANNOT add variables to serialmonitor.cpp and re-upload without restarting serialmonitor.py)
            if (first) {
                for (var i= 0; i < msg_arr.length; i++) {
                    // this is so ugly...
                    new_div = document.createElement('div');
                    new_div.setAttribute("class", "status");
                    new_div.setAttribute("id", "status-"+i);
                    new_div.appendChild(document.createTextNode(msg_arr[i] + "\n"));// = msg_arr[i]+"<br>";

                    // for funsies
                    new_div.addEventListener('click', function(e) {
                        $(this).toggleClass("highlight");
                    });
                    stat_elem.appendChild(new_div);
                }
                first = false;

            // now we can just update the divs we created
            } else {

                for (var i = 0; i < msg_arr.length; i++) {
                    document.getElementById("status-"+i).childNodes[0].nodeValue = msg_arr[i]; // childNodes[0] is the text in the div
                    //document.getElementById("status-"+i).innerHTML = msg_arr[i];
                }
            }
        }

    });
                                                                    
});   
    </script>
    
</head>
<body>

    <h1> Serial Monitor! </h1>
    <h2> Serial Monitor Variables </h2>
    <p id="status-txt" style="class:pre;"> {{ status }}</p>
    <hr>
    <h2> Other Serial.Print Statements </h2>
    <button id="capture-button">Capture Other</button>
    <p id="extra-txt" class="scroll-box"></p>
    <div id="status">
    </div>

</body> 
    
