.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.travis.yml
src/Cutdown.h
.DS_Store
lib/readme.txt
sim/**/*.bin
sim/**/*.h5
shitl/**/*.npy
shitl/**/*.h5
shitl/test-outputs/*
hootl/**/*.bin
hootl/**/*.h5

.idea